<% include ./partials/header %>

<% result.forEach((item) => { %>

<h2>Edit <%=item.name1%></h2>

<form action="/<%= item.id %>?_method=PUT" method="POST">
  <input type="text" name="item[inn]"  value="<%=item.inn%>">
  <input type="text" name="item[dose]"  value="<%=item.dose%>">
  <button class="btn btn-success">Edit</button>
</form>

<% }); %>



<% include ./partials/footer %>