<% include ./partials/header %>

<div class="container my-div">
  <form action="/new" method="post">
    <div class="form-group mx-sm-3 mb-2"><input class="form-control" 
      type="text" name="name1" placeholder="some text">
    </div>
    <div class="form-group mx-sm-3 mb-2"><input class="form-control" 
      type="text" name="name2" placeholder="some text">
    </div>
    <button>Submit</button>
  </form>
</div>

<% include ./partials/footer %>