<% include ./partials/header %>

<div class="container my-div">
  <form action="/new" method="post">
    <div class="form-group mx-sm-3 mb-2"><input class="form-control" 
      type="text" name="inn" placeholder="INN">
    </div>
    <div class="form-group mx-sm-3 mb-2"><input class="form-control" 
      type="text" name="dose" placeholder="Dose">
    </div>
    <!-- <div>
      <select name="group" class="form-control form-control">
        <option>ARB</option>
        <option>ACE</option>
        <option>Beta Blockers</option>
        <option>Ca blockers</option>
        <option>Diuretics</option>
        <option>Others</option>
        <option>Statins</option>
      </select>
    </div> -->
    <button>Submit</button>
  </form>
</div>

<% include ./partials/footer %>